* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  color: #427cfa;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
}

p {
  font-weight: 300;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: auto;
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  border-radius: 5px;
  background-color: #427cfa;
  color: #fff;
}

.text-primary {
  color: #427cfa;
}

.section-heading {
  text-align: center;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

#navbar .nav-links {
  width: 73%;
  display: flex;
  text-transform: uppercase;
}

#navbar .nav-links li {
  margin-right: 1.5rem;
}

#navbar .nav-links li a.active,
#navbar .nav-links li a:hover {
  color: #427cfa;
}

#navbar .user-icons {
  display: flex;
}

#navbar .user-icons li {
  margin-left: 1.5rem;
}

#showcase {
  background-image: url("../images/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #333;
  margin-top: -45px;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#showcase .showcase-content .lead {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#categories .img-categories {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 325px);
  grid-gap: 1.5rem;
}

#categories .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

#categories .item-img:hover {
  transform: scale(1.1);
}

#categories .women {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

#categories .shoes {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

#categories .categories-item {
  position: relative;
  overflow: hidden;
}

#categories .categories-item .categories-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.9;
  transition: padding 0.2s ease-in;
}

#categories .categories-item .categories-btn:hover {
  color: #fff;
  background-color: #427cfa;
  padding: 1.5rem 2.5rem;
}

#arrivals .arrivals-showcase {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#arrivals .arrivals-showcase .arrivals-item {
  position: relative;
  overflow: hidden;
}

#arrivals .arrivals-showcase .arrivals-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

#arrivals .arrivals-showcase .arrivals-item .card {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.9;
}

#arrivals .arrivals-showcase .arrivals-item:last-child .card {
  width: 65%;
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1.25rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.latest-cloth-item {
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
}

.latest-cloth-item img {
  object-fit: cover;
  width: 100%;
}

.latest-cloth-item .card {
  position: absolute;
  top: 75%;
  left: 8%;
  background-color: #fff;
  width: 84%;
  border-radius: 5px;
  padding: 1rem;
}

.latest-cloth-item .card h4 {
  cursor: pointer;
}

.latest-cloth-item .card h4:hover {
  color: #427cfa;
}

.latest-cloth-item .card ul {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.latest-cloth-item .card ul li {
  cursor: pointer;
  color: #427cfa;
  font-weight: 500;
  padding: 0.25rem;
}

.latest-cloth-item .card ul li:hover {
  color: #000;
}

.latest-cloth-item .card .lead {
  color: #838383;
}

.latest-cloth-item .card .card-footer {
  text-align: center;
  color: #838383;
  display: flex;
  justify-content: space-evenly;
}

#img-gallery {
  margin-top: 6.5rem;
}

#img-gallery .text-primary {
  text-decoration: underline;
}

#img-gallery .cloth-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#img-gallery .cloth-gallery .cloth-item > img {
  object-fit: cover;
  width: 100%;
}

#services .service {
  display: flex;
  text-align: left;
}

#services .service i {
  color: #427cfa;
  margin-right: 1.3rem;
  align-self: top;
  margin-bottom: 0;
}

#services .service p {
  color: #838383;
}

#newsletter {
  background-color: #427cfa;
}

#newsletter h5 {
  color: #fff;
}

#newsletter .form-group {
  display: flex;
  align-items: center;
  width: 55%;
}

#newsletter .form-group .form-field {
  display: block;
  width: 80%;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-family: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#newsletter .form-group span {
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  display: block;
  background-color: black;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#newsletter .social-icons {
  display: flex;
}

#newsletter .social-icons li {
  margin-left: 1.25rem;
}

#newsletter .social-icons i {
  color: #fff;
}

#basic-info {
  background-color: #f7f7f7;
  color: #838383;
  font-weight: 300;
}

#basic-info .info-box {
  align-self: start;
  flex: 1;
  padding: 0.5rem;
}

#basic-info .info-box h5 {
  color: #000;
}

#basic-info .info-box ul {
  padding: 0.5rem 0;
}

#basic-info .info-box ul li {
  margin: 0.25rem 0;
}

#basic-info .info-box ul li .contact-title {
  color: #000;
  text-transform: uppercase;
}

#basic-info .info-box ul li a {
  color: #427cfa;
}

#footer .lead {
  display: inline-block;
  margin-left: 0.5rem;
  color: #838383;
  font-weight: 300;
}

#footer .payments ul {
  display: flex;
}

#footer .payments ul img {
  max-width: 80%;
  display: inline-block;
  padding-top: 0.5rem;
}
/*# sourceMappingURL=style.css.map */