$primary-color: #427cfa;
$faint-color: #838383;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  color: $primary-color;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
}

p {
  font-weight: 300;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  padding-top: 0.5rem;
}

.container {
  max-width: 1180px;
  margin: auto;
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  border-radius: 5px;
  background-color: $primary-color;
  color: #fff;
}

.text-primary {
  color: $primary-color;
}

.section-heading {
  text-align: center;
}

.card-items {
  z-index: 3;
  padding: 2rem 3rem;
  box-shadow: 1px 1px 2px 1px #d8d8d8, -1px -1px 2px 1px #d8d8d8;
  font-size: 1rem;
  background-color: #fff;
  text-transform: capitalize;

  a {
    color: #838383;
  }
}

#page-card {
  display: none;
  position: absolute;
  width: 300px;
  top: 45px;
  left: 300px;
}

#shop-card {
  display: none;
  position: absolute;
  top: 45px;
  left: 300px;
  width: 800px;
  justify-content: space-between;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;

  .nav-links {
    width: 73%;
    display: flex;
    text-transform: uppercase;

    li {
      margin-right: 1.5rem;

      a.active,
      a:hover {
        color: $primary-color;
      }
    }
  }

  .user-icons {
    display: flex;

    li {
      margin-left: 1.5rem;
    }
  }
}

#showcase {
  background-image: url('../images/home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #333;
  position: relative;

  .showcase-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: animate1 1s ease-out;

    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }
}

#categories {
  .img-categories {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 325px);
    grid-gap: 1.5rem;
  }

  .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.12);
    }
  }

  .women {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .shoes {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .categories-item {
    position: relative;

    overflow: hidden;

    .categories-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      color: #000;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      opacity: 0.9;
      transition: padding 0.2s ease-in;

      &:hover {
        color: #fff;
        background-color: $primary-color;
        padding: 1.5rem 2.5rem;
      }
    }
  }
}

.trending-products {
  min-height: 30em;
  padding-top: 2em;
  margin-left: 0.3em;
  text-align: center;
}

#trending-clothes-list {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);

  .trending-clothes-img {
    position: relative;
    width: 100%;
  }

  .details {
    height: 8em;
    position: relative;
    text-align: center;
    padding: 1rem;
    transition: 0.3s ease-in-out;
  }
}

.product1:hover > .details {
  background-color: white;
  transform: translateY(-60px);
}

.product1:hover > .details > .add-to-cart-btn {
  display: inline-block;
  text-align: center;
}

.product-type {
  text-transform: uppercase;
  margin: 0;
}

.product-price {
  font-weight: 500;
}

.add-to-cart-btn {
  background-color: $primary-color;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: #ffffff;
  display: none;
  padding: 0.75rem 1rem;
}

.rating-stars {
  font-size: 12px;
  padding-top: 0;
}

.fa-star {
  color: orange;
}

#arrivals {
  .arrivals-showcase {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    .arrivals-item {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .card {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 2rem 2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        opacity: 0.9;
      }

      &:last-child .card {
        width: 65%;
      }
    }
  }
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1.25rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.latest-cloth-item {
  padding: 0 0.5rem;
  position: relative;
  text-align: center;

  img {
    object-fit: cover;
    width: 100%;
  }

  .card {
    position: absolute;
    top: 75%;
    left: 8%;
    background-color: #fff;
    width: 84%;
    border-radius: 5px;
    padding: 1rem;

    h4 {
      cursor: pointer;
    }

    h4:hover {
      color: $primary-color;
    }
    ul {
      display: flex;
      justify-content: center;
      text-transform: uppercase;

      li {
        cursor: pointer;
        color: $primary-color;
        font-weight: 500;
        padding: 0.25rem;

        &:hover {
          color: #000;
        }
      }
    }

    p {
      color: $faint-color;
    }

    .card-footer {
      text-align: center;
      color: $faint-color;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

#img-gallery {
  margin-top: 6.5rem;
  .text-primary {
    text-decoration: underline;
  }

  .cloth-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .cloth-item > img {
      object-fit: cover;
      width: 100%;
    }
  }
}

#services {
  .service {
    display: flex;
    text-align: left;
    i {
      color: $primary-color;
      margin-right: 1.3rem;
      align-self: top;
      margin-bottom: 0;
    }

    p {
      color: $faint-color;
    }
  }
}

#newsletter {
  background-color: $primary-color;

  h5 {
    color: #fff;
  }

  .form-group {
    display: flex;
    align-items: center;
    width: 55%;
    .form-field {
      display: block;
      width: 80%;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-family: inherit;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    span {
      text-transform: uppercase;
      padding: 0.5rem 1.25rem;
      display: block;
      background-color: black;
      color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .social-icons {
    display: flex;
    li {
      margin-left: 1.25rem;
    }
    i {
      color: #fff;
    }
  }
}

#basic-info {
  background-color: #f7f7f7;
  color: $faint-color;
  font-weight: 300;

  .info-box {
    align-self: start;
    flex: 1;
    padding: 0.5rem;

    h5 {
      color: #000;
    }

    ul {
      li {
        margin: 0.25rem 0;

        .contact-title {
          color: #000;
          text-transform: uppercase;
        }

        a {
          color: $primary-color;
        }
      }
    }
  }
}

#footer {
  .lead {
    display: inline-block;
    margin-left: 0.5rem;
    color: $faint-color;
    font-weight: 300;
  }

  .payments ul {
    display: flex;

    img {
      max-width: 80%;
      display: inline-block;
      padding-top: 0.5rem;
    }
  }
}

@keyframes animate1 {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
